{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
{% if not shows %}
<div class="alert alert-info" role="alert">
    There's no Shows on the road! Maybe you can register them <a href="/shows/create">here</a>.
</div>
{% endif %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show.artist_image_link }}" alt="Artist Image" />
            <h4>{{ show.start_time|datetime('full') }}</h4>
            <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
            <button class="delete-button" data-toggle="tooltip" data-placement="bottom" title="Unsign Show"
                onclick="removeShow('{{show.id}}')">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const removeShow = (id) => {
        const confirmation = confirm("Do you want to cancel the show?");

        if (confirmation) {
            fetch(`/shows/${id}`, {
                method: "DELETE"
            }).then((response) => {
                window.location.href = "/";
            })
        }
    }
</script>
{% endblock %}